.img1{background-image: url('img/photo-1610641818989-c2051b5e2cfd.jpeg');background-repeat: no-repeat;background-size: cover;height: 400px;}
.h2{text-align: center;color: rgb(12, 150, 12); margin-top: 90px; padding: 0px;}
.h1{margin-left: 20px;font-style: italic;}
.h3{margin-left: 20px; font-size: 20px;}
.h6{margin-top: 30px;font-size: 30px;text-align: left;color: orange;}
.h7{color: rgb(1, 182, 1);}
.img2{height: 500px;width: 800px;}
.div1{background-color: orange;background-size:cover;}
.button1{width: 110px; text-align: center;color: black;background-color: brown;}
.hh1{text-align: center;color: rgb(66, 212, 66);}
.p3{text-align: center;}
img{height: 200px;}
.a1{border: solid red;}
.but1{justify-content: center;}
.h5{font-size: 20px;color: rgb(143, 142, 142);}
.imgg1{height: 500px;width:800px;}
.div2{background-color: rgb(6, 158, 6);}
.pp1{ color: white;}
.but1{color:white;background-color: red;}
.hh4{font-size: 20px;color: rgb(143, 142, 142);}
.div3{text-align: center;margin:30px;}