.h1{font-style: italic;text-align: center;padding-top:200px;color: azure;}
.div1{background-image: url(../img/photo-1575218823251-f9d243b6f720.avif);background-repeat:no-repeat; background-size: cover;height: 500px;;}
.t1{font-size: 60px; background-color: palevioletred; border-radius:50%;padding:15px;}
.O1{font-size: 60px; background-color: rgb(236, 192, 48); border-radius:50%;padding:15px;}
.v1{font-size: 60px; background-color: rgb(32, 178, 204); border-radius:50%;padding:15px;}
.s1{font-size: 60px; background-color: rgb(204, 58, 32); border-radius:50%;padding:15px;}
.div2{text-align: center;}
.p1{font-size: 15px;}