img{width: 100%;}
.h1{font-style: italic;text-align: center;padding-top:60px;color: rgb(254, 255, 255);}
.t1{font-size: 60px; background-color: palevioletred; border-radius:50%;padding:15px;}
.O1{font-size: 60px; background-color: rgb(236, 192, 48); border-radius:50%;padding:15px;}
.v1{font-size: 60px; background-color: rgb(32, 178, 204); border-radius:50%;padding:15px;}
.s1{font-size: 60px; background-color: rgb(204, 58, 32); border-radius:50%;padding:15px;}
.div2{text-align: center;margin-top: 30px;}
.p1{font-size: 15px;}
.i1{background-image:url(../img/img1.avif);height: 350px;color: whitesmoke;margin-top: 40px;}
.i2{background-image:url(../img/img4.avif);height: 710px;text-align:center;color: rgb(32, 190, 32);margin-top: 40px;}
.p2{text-align: center;color: whitesmoke;}
.i3{background-image: url(../img/juices.jpg);height:350px;color: whitesmoke;margin-top: 40px;}
.i4{background-image:url(../img/img3.avif);height: 350px;color:whitesmoke;}
.i5{background-image: url(../img/img5.avif);height: 350px;color: whitesmoke;}
.a1{text-align: center;color: rgb(24, 182, 24);margin-top: 40px;}
.hh1{text-align: center;font-size: 40px;}
.p1{text-align: center;}
.hh4{text-align: center;}
.div4{background-image:url('../img/bggg.avif');height: 600px;}
.p3{color: green;margin-top: 100px;font-size: 20px;}
.p4{font-size: 40px;}
.h3{color: green;}
#countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: green;
  }
  
  #countdown li span {
    display: block;
    font-size: 4.5rem;
  }
  .subheading{color: green;}
  .imgg1{border-radius: 50%;height: 100px;width: 100px;}
.div5{text-align: center;}
.div6{border-left: 2px solid green;}
.div7{border-left: 2px solid green;}
.div8{border-left: 2px solid green;}
.div9{font-size: 25px;margin-top:150px;}
.rr1{margin-top: 100px;}
.div10{background-color: beige;text-align: center;margin-top: 70px;}
.div11{ border-radius: 50%;}
.navbar-brand{color: rgb(68, 184, 68);}
