.div1{background-image:url(../image/ff.avif); background-repeat:no-repeat; background-size: cover;height: 500px;}
.g1{font-size: 20px; text-align:center;font-style:italic; padding-top:90px;}
.w1{font-size:30px; font-style: bold;text-align: center;}
.g1{color: gold;}
.w1{color: honeydew;}
.img1{width: 80px;height:80px; border-radius:50%;padding: 10px; align-items:center; }
.a1{font-size: 15px;text-align:center;}
.b1{font-size: 10px;text-align: center;}





