.img1{background-image: url('img/photo-1610641818989-c2051b5e2cfd.jpeg');background-repeat: no-repeat;background-size: cover;height: 400px;}
.h2{text-align: center;color: darkgreen; margin-top: 90px; padding: 0px;}
.h1{margin-left: 20px;font-style: italic;}
.h3{margin-left: 20px; font-size: 20px;}
.h6{margin-top: 30px;font-size: 30px;text-align: left;color: orange;}
.h7{color: darkgreen;}
.img2{height: 500px;width: 800px;}
.div1{background-color: orange;background-size:cover;}
.button{width: 110px; text-align: center;color: black;background-color: brown;}
.hh1{text-align: center;color: darkgreen;}
.p3{text-align: center;}
img{height: 200px;}
.a1{border: solid red;}
.but1{justify-content: center;}
.h5{font-size: 25px;color: white;}
.imgg1{height: 500px;}
.div2{background-color: rgb(6, 158, 6);}
.pp1{ color: white;}
