div.b1{background-image:url(image/ff.avif); background-repeat:no-repeat; background-size: cover;}
h1{font-size: 20px; text-align:center;font-style:italic; padding-top:90px;}
h2{font-size:25px; font-style: bold;text-align: center;}
.g1{color: gold;}
.w1{color: honeydew;}
.img1{width: 80px;height:80px; border-radius:50%;padding: 10px; align-items:center; }
.one{display: inline-block;padding: 60px;}
.a1{font-size: 15px;text-align: center;}
.b1{font-size: 10px;text-align: center;}
.c1{ text-align: left;margin:0px;padding-left: 10px;font-size: 20px;font-style: normal;}
.d1{margin: 10px;font-size: 15px;font-style: normal;padding-top: 20px;text-align:left}
.two{display: inline-block;padding:20px;}
.img2{width: 80px;height: 80px;border-radius:50%;margin: 10px;padding: 20px;}
.b2{font-size: 15px;font-style: normal;}
.three{margin: 30px;width: 130px;padding-left:10px;font-size:18px;}
.c2{background-color: red; color: white;}
.lef,.right{display: inline-block;width: 49%;}
.img3{height: 500px; width: 958px;padding-top: 30px;}
.four{margin: 10px; padding-top: 10px;}
.e1{font-size: 15px;margin:10px;font-style: italic;}
.e2{font-size: 20px;font-style:normal;margin: 10px;margin-top:50px;}
.r1{display:inline-block}
.img4{padding: 30px;;height: 250px;width: 250px;margin-bottom: 0px;}
.f1{text-align: center;margin-bottom-0px;font-style: normal;}
.rig{display: inline-block;}
.image5{height: 700px;width: 500px;margin-right: 130px;padding-top: 60px;}
.left{display: flex;}